#title-link {
    text-decoration: none;
    color: #000000;
}

#title-link:hover {
    color: #4a4a4a;
}

#main-canvas {
    border: 1px solid;
    margin: 5px;
}

#log-form {
    margin-top: 15px;
    display: none;
}